<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Filterizr Use Case</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="app/assets/stylsheets/pages/_index.scss">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
    </head>
    <body>
      <br>
      <br>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-8">
            <div class="row">
              <div class="search-bar">
                <form class="form-inline" action="/search" method="GET">
                  <label class="sr-only" for="inlineFormInput">City</label>
                  <input name="city" type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Barcelona">

                  <label class="sr-only" for="inlineFormInputGroup">Art</label>
                  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <input name="category" type="text" class="form-control" id="inlineFormInputGroup" placeholder="Paint">
                  </div>

                  <label class="sr-only" for="inlineFormInputGroup">When</label>
                  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <input name="date_range" type="text" class="form-control" id="dateRange" placeholder="When">
                  </div>
                  <input type="submit"  class="btn btn-primary" value="Search!">

                  <p></p>

                </form>
              </div>
              <br>


              <div class="container">
                <!-- Filter Controls - Simple Mode -->
                <div class="row">
            <!-- A basic setup of simple mode filter controls, all you have to do is use data-filter="all"
            for an unfiltered gallery and then the values of your categories to filter between them -->
            <ul class="simplefilter">
              Individual Art Filters:
              <li class="active" data-filter="all">All</li>
              <li data-filter= 1 >Painting</li>
              <li data-filter= 2 >Drawing</li>
              <li data-filter= 3 >Sculpture</li>
              <li data-filter= 4 >Photography</li>
              <li data-filter= 5 >Installations</li>
              <li data-filter= 5 >Miscellaneous</li>
            </ul>
          </div>

          <!-- Filter Controls - Multifilter Mode -->
          <div class="row">
            <!-- A basic setup of multifilter controls, when the user toggles a category
            the corresponding items are rendered or hidden -->
            <ul class="multifilter">
             Toggle Multiple Types of Artwork:
              <li data-multifilter= 1 >Paintings</li>
              <li data-multifilter= 2 >Drawings</li>
              <li data-multifilter= 3 >Sculptures</li>
              <li data-multifilter= 4 >Photography</li>
              <li data-multifilter= 5 >Installations</li>
              <li data-multifilter= 6 >Miscellaneous</li>
            </ul>
          </div>

          <!-- Shuffle & Sort Controls -->
          <div class="row">
            <ul class="sortandshuffle">
              Sort &amp; Shuffle controls:
              <!-- Basic shuffle control -->
              <li class="shuffle-btn" data-shuffle>Shuffle</li>
              <!-- Basic sort controls consisting of asc/desc button and a select -->
              <li class="sort-btn active" data-sortAsc>Asc</li>
              <li class="sort-btn" data-sortDesc>Desc</li>
              <select data-sortOrder>
                <option value="domIndex">
                  Position
                </option>
                <option value="sortData">
                  Description
                </option>
              </select>
            </ul>
          </div>

          <!-- Search control -->
          <div class="row search-row">
                <input type="text" class="filtr-search" name="filtr-search" data-search placeholder="Enter A City">
          </div>

          <div class="row">
            <!-- This is the set up of a basic gallery, your items must have the categories they belong to in a data-category
            attribute, which starts from the value 1 and goes up from there -->
           <div class="container">
            <div class="filtr-container">

              <%= @cat = 0  %>

              <% @artworks.each do |artwork| %>
                <% if artwork.category == "Painting" %>
                  <%= @cat = 1 %>
                  <% elsif artwork.category == "Drawing"%>
                  <%= @cat = 2 %>
                  <% elsif artwork.category == "Sculpture"%>
                  <%= @cat = 3 %>
                  <% elsif artwork.category == "Photography"%>
                  <%= @cat = 4 %>
                  <% elsif artwork.category == "Installation"%>
                  <%= @cat = 5 %>
                  <% else %>
                  <%= @cat = 6 %>
                <% end %>

              <div class="col-xs-6 col-sm-4 col-md-3 filtr-item card" data-category="<%= @cat %>" data-sort=" <%= artwork.category %> ">

                <%= link_to(artwork, style: 'text-decoration: none;') do %>
                <% if artwork.photo %>
                <% image =  artwork.photo.path %>
                <% else  %>
                <% image =  "https://unsplash.com/?photo=-LRuNvY8W7Q" %>
                <% end %>
                <img class="img-responsive" src="<%= cl_image_path(image) %>" alt="sample image">
                <span class="item-desc"> <%= artwork.title  %> <br> cat: <%= artwork.category %> <br> loc: <%= artwork.location %> </span>
              </div>
              <% end %>

              <% end %>


            </div>

          </div>
        </div>



        <br>

      </div>

    </div>

    <div class="col-xs-6 col-md-4">

      <div id="map" style="width: 500px; height: 600px;"></div>

      <% content_for(:after_js) do %>
      <%= javascript_tag do %>
      $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
      markers = handler.addMarkers(<%= raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      if (markers.length == 0) {
      handler.getMap().setZoom(2);
    } else if (markers.length == 1) {
    handler.getMap().setZoom(14);
  }
});
});
<% end %>
<% end %>

</div>
</div>
</div>
</div>


<!-- Include jQuery & Filterizr -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/filterizr/jquery.filterizr.min.js"></script>


<!-- Kick off Filterizr -->
<script type="text/javascript">
  $(function() {
            //Initialize filterizr with default options
            $('.filtr-container').filterizr('setOptions', { delay: 80, delayMode: 'progressive' });
          });
        </script>
      </body>
      </html>
