<h1 class="text-center" style="margin: 40px">My list of artworks</h1>

<div class="container">
  <div class="row">
    <% @artworks.each do |artwork| %>
      <%= artwork.title %>
      <%= artwork.id %>
      <% if artwork.photo? %>
        <%= cl_image_tag artwork.photo.path, width: 300, height: 200, crop: :fill %>
      <% end %>
      <%= link_to "Details", artwork %>
      <br>
    <% end %>
  </div>
</div>
<br>
<br>

<%= link_to "Home", homepage_path %>
<%= link_to "Create", new_artwork_path %>

<div id="map" style="width: 100%; height: 600px;"></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>
