
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <div class="row">
      <h1>Here the search form as in home page </h1>
      <% @artworks.each do |artwork| %>
      <div class="col-xs-12 col-md-6">
        <div class="card">
          <%= link_to(artwork, style: 'text-decoration: none;') do %>
          <div class="card-body" style="background-image: url('<%= cl_image_path(artwork.photo.path) %>'); height: 200px; width: 300px;">
          </div>

          <div class="card-footer" >
            <p><%= artwork.title %></p>
            <p><%= artwork.size %></p>
            <% if artwork.owner.present? %>
            <h2><%= artwork.owner.name %></h2>
            <% end %>
          </div>
          <% end %>
        </div>

      </div>
      <% end %>
    </div>

  </div>

  <div class="col-xs-6 col-md-4">

  <div id="map" style="width: 1000px; height: 600px;"></div>

    <% content_for(:after_js) do %>
      <%= javascript_tag do %>
        $(document).ready(function() {
          var handler = Gmaps.build('Google');
          handler.buildMap({ internal: { id: 'map' } }, function() {
            markers = handler.addMarkers(<%= raw @hash.to_json %>);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
            if (markers.length == 0) {
              handler.getMap().setZoom(2);
            } else if (markers.length == 1) {
              handler.getMap().setZoom(14);
            }
          });
        });
      <% end %>
    <% end %>
  </div>
</div>
</div>


