<img src="" alt="">

<hr class="icon-row-divider" data-reactid="285">

<h1 class="text-center" style="margin: 40px"><%= @artwork.title %></h1>
<h2 class="text-center" style="margin: 40px"><%= @artwork.size %></h2>
<h2 class="text-center" style="margin: 40px"><%= @artwork.location %></h2>
<h2 class="text-center" style="margin: 40px"><%= @artwork.user_id %></h2>


<hr class="icon-row-divider" data-reactid="285">


  <%= link_to "Edit", edit_artwork_path(@artwork) %>
  <%= link_to "Delete", artwork_path(@artwork), method: :delete, data: { confirm: "Are you sure?"} %>
  <%= link_to "Back", artworks_path(@artwork) %>
