<div class="banner" style="background-image: url(https://static.pexels.com/photos/428111/pexels-photo-428111.jpeg);">

  <div class="banner-content">
    <h1>Artify your space</h1>
    <p>Show artwork from local artists</p>
    <p>and experience your favorite art for FREE</p>
  </div>

<!-- <div class="search-bar">

    <form action="/artworks", method="get">
      <input type="text" name="city">
      <input type="text" name="type">`
      <input type="text" name="start_request" class="datepicker">
      <input type="text" name="end_request" class="datepicker">
      <input type="submit" value="Find your artwork">
    </form>

  </div> -->
    <div class="search-bar">
      <%= simple_form_for @user, html: { class: "form-inline" }, method: :get do |f| %>
      <%= f.input :location_request, placeholder: "Location", collection: @location_request, label: false %>
      <%= f.input :category_request, placeholder: "Category", collection: @category_request, label: false %>
      <%= f.input :start_request, placeholder: "Start", collection: @start_request, label: false %>
      <%= f.input :end_request, placeholder: "End", collection: @end_request, label: false %>
      <%= f.button :submit, 'Search', class: "btn btn-success" %>
      <% end %>
    </div>`


</div>

<br>

<div class="overview" style="text-align: center;">
  <h2><div class="text-center padded">
  <%= link_to "Explore the art", artworks_path, class: "btn btn-primary" %></h2>
</div>

<br>




