<h1 class="text-center">Your appointment list</h1>
 <% @appointments.each do |appointment| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card text-center">


          <div class="card-body">
           Congratulations,
            <%= appointment.user.email  %>!  You just booked:
            <br>
            <%= appointment.artwork.title  %>
            <br>
             <%= appointment.start_date  %>
              <br>
              <%= appointment.end_date  %>
              <br>
              <br>
          </div>
        </div>
      </div>
    <% end %>


<div class="text-center padded">
  <%= link_to "Browse some more!", homepage_path, class: "btn btn-primary" %>
</div>

<div class="container">
  <div class="row">

  </div>
</div>
