<h1>Congratulations!</h1>

            <%= @appointment.user.email  %>  You just booked:
            <br>
            <%= @appointment.artwork.title  %>
            <br>
            <p>from:</p>
             <%= @appointment.start_date %>
              <br>
              <p>To:</p>
              <%= @appointment.end_date   %>
              <br>
              <br>

<%= link_to "Modify this Appointment", edit_appointment_path, class: "btn btn-primary" %>

<%= link_to "Delete", appointment_path(@appointment), class: "btn btn-primary",
              method: :delete,
              data: { confirm: "are you sure" } %></h3>

<%= link_to "Browse some more!", artworks_path, class: "btn btn-primary" %>

<%= link_to "Show my appointments", appointments_path, class: "btn btn-primary" %>
