<h1 class="text-center">Congratulations <%= @appointment.user.first_name %>!</h1>

            You booked:
            <br>
            <%= @appointment.artwork.title  %>
            <br>
            <p>from:</p>
            <%= @appointment.artwork.owner.email  %>
             <%= @appointment.start_date.strftime("%d %B %y") %>
              <br>
              <p>To:</p>
              <%= @appointment.end_date.strftime("%d %B %y")   %>
              <br>
              <br>

<%= link_to "Modify this Appointment", edit_appointment_path, class: "btn btn-primary" %>

<%= link_to "Delete", appointment_path(@appointment), class: "btn btn-primary",
              method: :delete,
              data: { confirm: "are you sure" } %></h3>

<%= link_to "Browse some more!", artworks_path, class: "btn btn-primary" %>

<%= link_to "Show my appointments", appointments_path, class: "btn btn-primary" %>
