<br>
<div class="container">
  <div class="row">

    <div class="col-xs-6 col-xs-offset-3 ">
      <div class="row">
        <div class="col-xs-6 col-sm-4">
            <div class="avatar-image" ">
              <% avatar_url = current_user.facebook_picture_url || "http://placehold.it/30x30" %>
              <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown", style: "width: 100px; display: block; margin: 0 auto;" %>
              </div>
              <div class="avatar-edit" style="text-align: center;">
                <%= link_to "Edit", edit_user_path, style: "text-decoration: none; font-size:14px;"%>
              </div>
        </div>
        <div class="col-xs-6 col-sm-4">
          <div class="avatar-information">
            <p class="text-center" style="margin: 40px">
              <%= @user.first_name %>
              <%= @user.last_name %>
              <br>
              <%= @user.email %>
              <%= @user.phone_number %>
              <%= @user.address %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="class container">

  <% @appointments.each do |appointment| %>
  <div class="col-xs-12 col-sm-4">
    <div class="card text-center">


      <div class="card-body">

        <%= link_to appointment.artwork.title, appointment_path(appointment.id), class: "btn btn-primary" %>
        <br>
        Renter Email: <%= appointment.user.email  %>
        <br>

        <br>
        <%= link_to appointment.artwork.title, appointment_path(appointment.id) %>
        <br>Confirmation code:
        <%= appointment.id  %>
        <br>
        <%= appointment.start_date.strftime("%d %B %y")   %>
        <br>
        <%= appointment.end_date.strftime("%d %B %y")   %>
        <br> Artist Email:
        <%= appointment.artwork.owner.email  %>
        <br>

        <br>
        <%= link_to "Delete Booking", appointment_path(appointment.id), class: "btn btn-primary",
        method: :delete,
        data: { confirm: "are you sure" } %></h3>
        <%= link_to "Edit Booking", edit_appointment_path(appointment.id), class: "btn btn-primary" %>
      </div>
    </div>
  </div>
  <% end %>

  <br>
  <br>
  <%= link_to "My booking", appointments_path %>
  <%= link_to "My arts", "" %>

</div>

<div class="profile-header-wrapper">
  <div class="container profile-header-container text-center">
    <div class="tabs">
      <a class="tab active" href="#">
        <h3>Artworks</h3>

      </a>
      <a class="tab" href="#">
        <h3>Appointments</h3>
      </a>
    </div>
  </div>
</div>

