    <div id="footer">
      <div class = "container">
        <div class = "row">

        <div class="col-md-4">

           <ul>
            <h4 class="heading_tpbrp">Join Us</h4>
            <li>
              <%= link_to "Contacts", homepage_path %>
            </li>
            <li>
              <%= link_to "Careers", homepage_path %>
            </li>
            <li>
              <%= link_to "FAQ", homepage_path %>
            </li>
          </ul>
        </div>

        <div class="col-md-4">

         <ul>
          <h4 class="heading_tpbrp">Artist</h4>
          <li>
            <%= link_to "Become an artist", homepage_path %>
          </li>
          <li>
            <%= link_to "All the artists", homepage_path %>
          </li>
        </ul>
      </div>

      <div class="col-md-4 ">

        <ul>
          <h4 class="heading_tpbrp">About us</h4>
          <li>
            <%= link_to "Facebook", homepage_path %>
          </li>
          <li>
            <%= link_to "Instagram", homepage_path %>
          </li>
          <li>
            <%= link_to "Press", homepage_path %>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>


